* {
  margin: 0 0 10px 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: aliceblue;
}

body {
  background-color: #2d698a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  color: aliceblue;
}

header,
footer {
  background-color: #a05ae6;
  width: 100%;
  text-align: center;
}

input,
select {
  display: block;
}

